.formalbumcreate{
  width: 600px;
  height: 600px;
  background-color: rgb(61, 61, 61);
  border: 2px solid green;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
  color: black;
}
.formalbumcreate input, .formalbumcreate select {
  color: black;
}
.formalbumcreate select {
  width: 300px;
}
.cargadeimagen {
  background-color: white;
}
.formalbumcreate input:focus, .formalbumcreate select:focus {
  border: 2px solid green;
  border-radius: 5px;
  
  outline: none; /* Opcional, para quitar el contorno predeterminado del navegador */
}
.option {
    color: black;
}
.banner {
    padding: 10px;
    text-align: center;
    margin-bottom: 1rem;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .banner.loading {
    background-color: #f0ad4e;
    color: white;
  }
  
  .banner.success {
    background-color: #5cb85c;
    color: white;
  }
  .removebutton {
    background-color: transparent;
    border: none;
  }
  