#main-music{
    height: calc(100svh - 60px);
    width: 100%;
    padding: 10px;
    display: flex;
    gap: 10px;
}
.left-container {
    width: 100%;
    overflow-y: scroll;
    border-radius: 10px;
    
}
::-webkit-scrollbar{
    display: none;
}
.right-container {
    width: 30%;
    min-width: 300px;
    border-radius: 10px;
    overflow-y: scroll;
    background-color: rgb(18, 18, 18);

}


#albums-container{
    height: auto;
    min-height: 200px;
    width: 350px;
    min-width: 250px;
    background-color: rgb(18, 18, 18);
    border-radius: 10px;
    overflow-y: scroll;
    padding-bottom: 10px;
}
#albums-container > h2 {
    text-align: center;
    margin-bottom: 20px;
}

#albums-container ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}

#section-songs{
    min-height: calc(100svh - 160px);
    width: 100%;
    min-width: 200px;
    max-width: 100%;
    background-color: rgb(17, 17, 17);
    border-radius: 10px;
    padding-bottom: 30px;
}
.ulsongs{
    padding: 10px 10px 20px 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    
    
}
.lisong{
    position: relative;
    view-timeline-name: --reveal;
    animation-name: show;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 15% cover 15%

}

.vacio{
    position: absolute;
    bottom: 0;
}
.barrareproduciendo{
    display: none;
}
.confirmadd {
    position: fixed; /* Usamos fixed para que esté siempre centrado respecto a la pantalla */
    top: 50%;        /* Centramos el elemento verticalmente */
    left: 50%;       /* Centramos el elemento horizontalmente */
    transform: translate(-50%, -50%); /* Ajustamos el origen del elemento al centro */
    width: 100%;     /* Ajusta el tamaño como sea necesario */
    height: 100%;    /* Ajusta el tamaño como sea necesario */
    z-index: 500;    /* Mantenemos el z-index */
    padding: 20px;   /* Puedes ajustar el padding si es necesario */
    background-color: rgba(0, 0, 0, 0.853); /* Asegúrate de que tenga un fondo visible */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Añadimos sombra para resaltar */
    border-radius: 8px; /* Bordes redondeados opcionales */
    display: flex;
    align-items: center;
    justify-content: center;
}
.confirmoculto{
    display: none;
}


@media (max-width:1050px){
    #main-music{
        height: calc(100svh - 160px);
        flex-direction: column;
        width: 100%;
        padding: 0;
        gap: 0;
    }
    .barrareproduciendo{
        width: 100%;
    height: 100px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 100;
        display: flex;
    }
    .right-container{
        display: none;
        border-radius: 0;
    }
    .mostrarplayer{
        display: flex;
        position: absolute;
        width: 100%;
        height: calc(100svh - 160px);
    }
    #albums-container{
        width: 100%;
        height: 130px;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0;
        overflow-x: scroll;
        padding:10px 0;
    }
    .albums-container-title {
        display: none;
    }
    #albums-container ul{
        height: auto;
        flex-direction: row;
        align-items: start;
        justify-content: flex-start;
        width: 100%;
        padding: 0 10px;
        overflow-y: scroll;
        gap: 20px;
    }
    #albums-container li{
        width: 100px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width:550px){
    .barrareproduciendo{
        height: 60px;
    }
    #main-music{
        min-height: calc(100svh - 120px);
        gap: 10px;

    }

    
}


@keyframes show {
    from {
        opacity: 0; scale: 60%;
    }
    to {
        opacity: 1; scale: 100%;
    }
    
}