.SongCardEditform{
    position: sticky;
    height: 600px;
    width: 400px;
    background-color: rgb(28, 28, 28);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
    font-size: 10px;
}
.SongCardEdit{
    height: auto;
    min-height: 400px;
    width: 300px;
    background-color: rgb(28, 28, 28);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
    font-size: 10px;
}
.divbotonescancion{
    display: flex;
    gap: 10px;
}
.SongCardEdit h4 {
    font-size: 15px;
}
.songcardimage img {
    height: 200px;
    width: 200px;
    object-fit: cover;

}
.SongCardEditform input {
    color: black;
}

.botoneliminar:hover {
    background-color: red;
}
.selected-indicator {
    color: green;
    font-size: 12px;
    margin-left: 10px;
  }
  
  .musician-list {
    display: flex;
    flex-direction: column;
  }
  
  .musician-list div {
    margin-bottom: 8px;
  }