


.album-container {
    -webkit-animation:fade-in 5.2s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both;
    width: 240px;
    height: 100%;
    border-radius: 2px;
    transition: all .3s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;

}


.portada_del_album{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
    box-shadow: 0 0 10px black;
}
.album_title {
    font-size: 16px;
    text-align: center;
}


@media (max-width:1050px){
    #albums-container-title {
        display: none;
    }
    .album-container{
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 100px;
        height: 100%;
        background-color: transparent;
    }

    .album_title {
        font-size: 12px;
        text-align: center;
    }
    .portada_del_album{

        height: 100px;
        width: 100px;
        border-radius: 100%;
    }
}
