


.album-container {
    -webkit-animation:fade-in 5.2s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    transition: all .3s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.album-container img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 100%;
}


@media (max-width:1050px){
    #albums-container-title {
        display: none;
    }
    .album_title {
        font-size: 12px;
        text-align: center;
        color: green;
    }
}
