form input {
    color: black;
    background-color: white;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
}
form select {
    color: black;
    display: flex;
}
article input {
    color: black;
    background-color: white;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
}
article select {
    color: black;
    background-color: white;
}
article button {
    background-color: white;
    height: 30px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}